<% if @current_user %>

<h1 class="display-4 mb-4">My Places</h1>

  <p>
    <a class="btn btn-primary btn-sm mt-2" href="/places/new">Add a New Place</a>
  </p>
  
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>

<% else %>
  Please <a href="/login">log in</a> or <a href="/users/new">sign up</a> to continue
<% end %>