<h1 class="display-5 mb-4">Add a New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.submit "Submit", :class => "btn btn-success" %>
  </p>
<% end %>